body {
  background: #232323;
  font-family: "Montserrat", "Avenir";
  margin: 0;
}

/* Setting buttons blend into Setting Bar */
button {
  background: none;
  border: none;
  color: steelblue;
  font-size: inherit;
  font-weight: 700;
  height: 30px;
  letter-spacing: 1px;
  outline: none;
  padding: 0;
  text-transform: uppercase;
  transition: all 0.3s;
  width: 90px;
}

button:hover {
  background: steelblue;
  color: white;
}

/* H1 takes up entire header section, font-size adjusts based on screen size */
h1 {
  background: steelblue;
  color: white;
  font-size: 4.0vw;
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  padding: 2.5% 0;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.difficultyContainer {
  display: inline-block;
  width: 280px;
}

/* Selected difficulty level blends into header with same background/color */
.selected {
  background: steelblue;
  color: white;
}

/* Score indicators blend into Score Bar */
.score {
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
  height: 100%;
  line-height: 30px;
  letter-spacing: 1px;
  min-width: 160px;
  text-transform: uppercase;
  width: 25%;
}

.scoreBar {
  background: steelblue;
  bottom: 0;
  min-height: 30px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.settingBar {
  background: white;
  min-height: 30px;
  text-align: center;
}

.square {
  border-radius: 15%;
  float: left;
  margin: 1.66%;
  padding-bottom: 30%;
  transition: background-color 0.3s;
  width: 30%;
}

#container {
  margin: 20px auto;
  max-width: 580px;
  overflow: auto;
}

#goalDisplay {
  font-size: 7.0vw;
}

#message {
  display: inline-block;
  min-width: 20%;
  width: 100px;
}

#reset {
  margin: 0px 75px;
  width: 130px;
}
